.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.board > table {
  width: 600px;
  border: 1px solid rgb(70,173,55);
  border-collapse: collapse;
}

.board > .write {
	width: 150px;
	height: 30px;
	margin: 15px;
}

.write:hover {
	cursor: pointer;
	background-color: rgb(70,173,55);
}

th, td {
  border: 1px solid rgb(70,173,55);
  padding: 5px;
}