form {
  display: flex;
  flex-direction: column;
}

form > input {
  width: 250px;
  height: 45px;
  margin: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box > h2 {
	text-align: center;
	color: rgb(70,173,55);
	font-size: 60px;
}

